.reponseClass{
    border: 1px solid black;
    margin-left : 10px;
    margin-right : 10px;
    margin-bottom : 10px;
    padding: 1em;
}

.BoxQuestionClass{
    border: 1px solid orange;
    background-color: rgba(#FFAABB,0.5);
    margin : 30px;
    box-shadow: 10px 20px 15px orange;

}


.bckgndColorBlue{
    background-color: rgba(#2e1ebde7,0.5);
    }
