<h2>Modification de questions</h2>

<form #userForm="ngForm">

    <div [ngClass]="{BoxQuestionClass : true , bckgndColorBlue:impair}" *ngFor="let question of questions; index as i; odd as impair">
        <label>l'Id de la question {{i}} </label>
        <ul>
            <li > 
                <p> Language : {{question.langage}}.</p>
                <p> Difficulté : {{question.difficulty}}.</p>
                <p>{{question.name}}.</p>
                
            </li>
        </ul>
         
        <div [ngClass]="{reponseClass : true}">
            <label>Réponses : </label>
            <p *ngFor="let answer of question.answers; index as j"> {{j}} {{answer}}.</p>
            <p> Difficulté : {{question.difficulty}}.</p>

        </div>
        <!-- <label>Numero de la question </label>
        <ul>
            <li *ngFor="let question of questions; index as i">{{i}} {{question.name}}</li>
        </ul> -->
        
    </div>
    <!-- <div>
        <label>intitulé</label> <input name="intitule" [(ngModel)]="question.name"/>
    </div>
    <div *ngFor="let answer of anwsers;index as i">
        <label>Réponse {{i}}  </label> <input name="answer" [(ngModel)]={{answer.name}}/>
    </div> -->
    <button type="submit">enregistrer</button>
</form>
