<h2>Modification de questions</h2>

<form (ngSubmit)="onSaveQuestion(userForm.value)" #userForm="ngForm">

    <div [ngClass]="{BoxQuestionClass : true }" >
        <label>Question numéro :   </label>
      
            <p> Id : {{question.id}}</p>
                <!-- <p> Language : {{question.langage}}.</p> -->
                <!-- <p> Langage : <input name=language [(ngModel)]="question.language"></p> -->
                <span> Langage : </span> 
                <select name=language size="1" [(ngModel)]="question.language">
                        <option *ngFor="let lang of languageList" [selected]="selected" > {{lang}}  </option>
               </select>

               
                <!-- <SELECT name="nom" size="1">
                    <option >lundi</option>
                    <option selected="selected">mardi</option>
                    <option>mercredi</option> 
                </SELECT> -->
                


                <p> Difficulté : <input name=difficulty [(ngModel)]="question.difficulty"></p>
                <!-- <p> name : {{question.name}}.</p> -->
                <p> Intitulé : <input name=name [(ngModel)]="question.name"> </p>
                
               
             
                  

         
        <div [ngClass]="{reponseClass : true}">
            <label>Réponses : </label>
            <p *ngFor="let answer of question.answers; index as j"> {{j+1}} {{answer}}.</p>
            <!-- <p *ngFor="let answer of question.answers; index as j"> {{j+1}} <input name={{answer}} [(ngModel)]="answer"></p> -->
            
        </div>
  
    </div>

    <button type="submit">enregistrer</button>
</form>



<!-- <form (ngSubmit)="onSaveQuestion(userForm.value)" #userForm="ngForm">

    <div [ngClass]="{BoxQuestionClass : true , bckgndColorBlue:impair}" *ngFor="let question of questions; index as i; odd as impair">
        <label>Question numéro :  {{i}} </label>
      
            <p> Id : {{question.id}}</p>
                 <p> Language : {{question.langage}}.</p> 
                <p> Language : <input name={{question.langage}} [(ngModel)]="question.langage"></p>
                <p> Difficulté : <input name={{question.difficulty}} [(ngModel)]="question.difficulty"></p>
                 <p> name : {{question.name}}.</p> 
                <p> Intitulé : <input name={{question.name}} [(ngModel)]="question.name"> </p>
                
 
         
        <div [ngClass]="{reponseClass : true}">
            <label>Réponses : </label>
            <p *ngFor="let answer of question.answers; index as j"> {{j+1}} {{answer}}.</p>
            -- <p *ngFor="let answer of question.answers; index as j"> {{j+1}} <input name={{answer}} [(ngModel)]="answer"></p> --
            
        </div>
  
    </div>

    <button type="submit">enregistrer</button>
</form> -->