.reponseClass{
    border: 1px solid black;
}

.BoxQuestionClass{
    border: 1px solid orange;
    background-color: rgba(#FFAABB,0.5);



}


.bckgndColorBlue{
    background-color: rgba(#2e1ebde7,0.5);
    }
